body{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #817777;
    background-color: #fff;
    line-height: 17px;
}
.principal{
    width: 960px;
    margin: 0 auto;
}
h2{
    font-size: 20px;
    line-height: 25px;
    color: #ec008c;
}
h3{
    font-size: 15px;
    line-height: 25px;
    color: #000;
}
p{
    text-align: justify;
}
header{
    background: #000000;
    height: 80px;
    padding: 0;
    margin: 0;
}
